@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    background-color: #0f1923;
}

body
{
    overflow-x: hidden;
    height: 1080px;
}

@font-face {
    font-family: valorant;
    src: url(../fonts/valorant/ValorantFont.ttf);
}

@font-face {
    font-family: Tungsten-Bold;
    src: url(../fonts/TungstenBold.ttf)
}

@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato/Lato-Black.ttf)
}

.navbar
{
    background-color: rgb(17, 17, 17);
}

.nav
{
    margin-right: 120px;
}

.nav li a
{
    text-align: center;
    text-decoration: none;
    color: #f0f0f0;
    margin-left: 170px;
    font-size: 20px;
    font-family: Lato-Black, sans-serif;
    transition: 0.3;
}

.nav li a:hover
{
    color: hsla(355, 100%, 64%, 1);
}

.nav
{
    margin-right: 70px;
}

.navbar-brand img
{
    position: relative;
    margin-left: 15px;
    top: 1px;
}

.btn
{
    margin-right: 15px;
}

.game button h5
{
    font-family: Lato-Black;
    margin-top: 5px;
    text-align: center;
}

.thumb
{
    background-image: url(../assets/thumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    /* width: 1920px; */
    height: 1080px;
}

.title-caption h1
{
    position: relative;
    color: hsla(355, 100%, 64%, 1);
    font-family: valorant, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 100px;
    width: 600px;
    height: 150px;
    line-height: 170px;
    top: 320px;
    box-shadow: 0px 0px 0px 1px #f0f0f0;
    background-color: rgb(17, 17, 17);
    transition: 0.3s;
    border-radius: 2px;
}

.title-caption h1:hover
{
   transform: translateY(-10px);
   filter: drop-shadow(10px 10px 5px rgb(53, 5, 6));
   color: #f0f0f0;
}

.title-caption h3
{
    position: relative;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    font-size: 22px;
    top: 290px;
    line-height: 125px;
    transition: 0.3s;
    text-shadow: 3px 3px rgb(17, 17, 17);
}

.title-caption h3:hover
{
    transform: translateY(-5px);
}

.img
{
    position: relative;
    width: 75px;
    height: 75px;
    left: 1745px;
    top: 510px;
    z-index: 1;
    transition: 0.3s;
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
}

.img:hover
{
    transform: translateY(-5px);
    filter: invert(0.4);
}

#invisible
{
    position: relative;
    top: -360px;
}

#start
{
    position: relative;
    /* width: 1920px; */
    height: 800px;
    background-image: url(../assets/back.png);
    top: -260px;
}

#start h1
{
    font-family: Tungsten-Bold, sans-serif;
    font-size: 100px;
    color: rgb(255, 70, 84);
    margin-left: 35px;
}

#start .container .row #n1
{
    position: relative;
    background-image: url(../assets/new1.webp);
    background-repeat: no-repeat;
    border-radius: 5px; 
    top: 155px;
    width: 365px;
    height: 205px;
    transition: 0.5s;
}

#start .container .row #n1:hover
{
    transform: translateY(-10px);
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.1);
}

#start .container .row #t1 h3
{
    position: relative;
    font-family: Lato-Black, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    color: #f0f0f0;
    margin-left: -10px;
    top: 135px;
    text-shadow: 3px 3px rgb(17, 17, 17);
    transition: 0.5s;
} 

#start .container .row #t1 h3:hover
{
    transform: translateY(-5px);
}

#start .container .row #n2
{
    position: relative;
    background-image: url(../assets/new2.webp);
    background-repeat: no-repeat;
    border-radius: 5px; 
    top: 155px;
    width: 365px;
    height: 205px;
    transition: 0.5s;
}

#start .container .row #n2:hover
{
    transform: translateY(-10px);
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.1);
}

#start .container .row #t2 h3
{
    position: relative;
    font-family: Lato-Black, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    color: #f0f0f0;
    margin-left: -10px;
    top: 145px;
    text-shadow: 3px 3px rgb(17, 17, 17);
    transition: 0.5s;
}

#start .container .row #t2 h3:hover
{
    transform: translateY(-5px);
}

#start .container .row #n3
{
    position: relative;
    background-image: url(../assets/new3.webp);
    background-repeat: no-repeat;
    border-radius: 5px; 
    top: 155px;
    width: 365px;
    height: 205px;
    transition: 0.5s;
}

#start .container .row #n3:hover
{
    transform: translateY(-10px);
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.1);
}

#start .container .row #t3 h3
{
    position: relative;
    font-family: Lato-Black, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    color: #f0f0f0;
    margin-left: -10px;
    top: 135px;
    text-shadow: 3px 3px rgb(17, 17, 17);
    transition: 0.5s;
}

#start .container .row #t3 h3:hover
{
    transform: translateY(-5px);
}

#fire
{
    position: relative;
    top: 100px;
    left: 775px;
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 2px rgb(255, 70, 84));
    transition: 0.5s;
    z-index: 1;
}

#fire:hover
{
    transform: translateY(-10px);
    filter: drop-shadow(2px 2px 2px rgb(255, 255, 255));
}

.agents
{
    height: 0px;
}

.agents #back2
{
    position: relative; 
    height: 800px;
    background-color: #d33d4a;
    top: -100px;
}

.agents #back2 #backcolor
{
    background-image: url(../assets/backicons.png);
    background-position-y: -150px;
    height: 800px;
    z-index: 1;
}

.img2
{
    position: relative;
    width: 75px;
    height: 75px;
    left: 70px;
    top: -35px;
    z-index: 5;
    transition: 0.3s;
    filter: drop-shadow(1px 1px 1px rgb(17, 17, 17));
}

.img2:hover
{
    transform: translateY(-5px);
    filter: invert(0.4);
}

.agents #back2 h1
{
    position: relative;
    font-family: Tungsten-Bold, sans-serif;
    font-size: 100px;
    left: 750px;
    top: 0px;
    text-align: left;
    color: #f0f0f0;
}

.agents #back2 h3
{
    position: relative;
    font-family: Tungsten-Bold, sans-serif;
    font-size: 32px;
    left: 785px;
    top: 22px;
    text-align: left;
    color: #f0f0f0;
    filter: drop-shadow(2px 2px 2px rgb(17,17,17));
}

.agents #back2 h5
{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 380px;
    left: 785px;
    margin-top: 40px;
    top: 25px;
    text-align: left;
    color: #f0f0f0;
    filter: drop-shadow(0.8px 0.8px 0.8px rgb(17,17,17));
}

.agents #reyna
{
    position: relative;
    width: 0px;
    height: 0px;
    top: -600px;
    left: 50px;
    filter: drop-shadow(2px 2px 2px rgb(17,17,17));
    transition: 0.3s;
    z-index: 1;
    cursor: default;
}

.agents #raze
{
    position: relative;
    width: 0px;
    height: 0px;
    top: -530px;
    left: 300px;
    filter: drop-shadow(2px 2px 2px rgb(17,17,17));
    transition: 0.3s;
}

.agents .btn2
{
    position: relative;
    left: 830px;
    top: 75px;
    width: 250px;
    height: 60px;
    box-shadow: 0px 0px 0px 1px #f0f0f0;
    background-color: #f0f0f0;
    transition: 0.3s;
    border-radius: 5px;
    border: 2px solid rgb(17, 17, 17);
    transition: 0.5s;
}

.agents .btn2:hover
{
    background-color: rgb(17, 17, 17);
}

.agents .btn2 h4
{
    color: rgb(17,17,17);
    font-family: Tungsten-Bold, sans-serif;
    text-align: center;
    font-size: 25px;
    line-height: 55px;
    transition: 0.3s;
}

.agents .btn2 h4:hover
{
    color: #f0f0f0;
}

.agents .tb
{
    height: 0px;
}

.agents .tb h4
{
    position: relative;
    font-family: Lato-Black, sans-serif;
    font-size: 28px;
    left: 1345px;
    top: 420px;
    color: #f0f0f0;
    filter: drop-shadow(2px 2px 2px rgb(17,17,17));
    z-index: 1;
}

.img3
{
    position: relative;
    width: 75px;
    height: 75px;
    left: 1745px;
    top: 850px;
    z-index: 1;
    transition: 0.3s;
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255)) invert(0.9);
}

.img3:hover
{
    transform: translateY(-5px);
    filter: invert(0.4);
}

.agents #back .container
{
    position: relative;
    top: 495px;
    width: 500px;
    left: 560px;
    filter: drop-shadow(2px 0px 4px rgb(255, 255, 255));
    z-index: 1;
}

/* #gamers
{
    display: none;
}

#gamers .row #p1
{
    display: none;
}

#gamers .row #p2
{
    display: none;
}

.img4
{
    display: none;
} */

.img4
{
    display: flex;
    position: relative;
    width: 75px;
    height: 75px;
    left: 1745px;
    top: -40px;
    z-index: 1;
    transition: 0.3s;
    filter: drop-shadow(1px 1px 1px rgb(17, 17, 17)) invert(0.9);
}

.img4:hover
{
    transform: translateY(-5px);
    filter: invert(0.4);
}

#gamers
{
    display: flex;
    position: relative;
    background-image: url(../assets/backrank.jpg);
    background-position-x: center;
    background-position-y: -50px;
    /* width: 1920px; */
    height: 800px;
    top: 500px;
}


#gamers .row #p1
{
    display: flex;
    position: relative;
    top: 145px;
    height: 540px;
    width: 375px;
    filter: drop-shadow(10px 10px 10px rgb(17, 17, 17));
    transition: all 0.5s;
    left: -100px;
}

#gamers .row #p1:hover
{
    transform: translateY(-10px);
}

#gamers .row #p2
{
    display: flex;
    position: relative;
    top: 145px;
    height: 540px;
    width: 400px;
    filter: drop-shadow(10px 10px 10px rgb(17, 17, 17));
    transition: all 0.5s;
    left: -100px;
}

#gamers .row #p2:hover
{
    transform: translateY(-10px);
}

#gamers .row #p3
{
    display: flex;
    position: relative;
    top: 145px;
    height: 540px;
    width: 400px;
    filter: drop-shadow(10px 10px 10px rgb(17, 17, 17));
    transition: all 0.5s;
    left: -100px;
}

#gamers .row #p3:hover
{
    transform: translateY(-10px);
}

#gamers .row #p1 img, #gamers .row #p2 img, #gamers .row #p3 img
{
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg) saturate(500%) contrast(1.2);
}

#gamers .row #p3 img
{
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg) saturate(1000%) contrast(1);
}

#gamers #accordionPanels
{
    position: relative;
    left: -200px;
    top: 150px;
    width: 250px;
    height: 100px;
}

#gamers #accordionPanels #button_accordion
{
    color: #f0f0f0;
    font-weight: bolder;
    background-color: #d33d4a;
    filter: drop-shadow(2px 2px 2px rgb(17, 17, 17));
    outline: none;
    font-size: 19px;
    padding: 15px;
}

#gamers #accordionPanels p
{
    font-size: 19.2px;
}

@media (max-width: 1680px)
{
.thumb
{
    width: 1366px;
    height: 768px;
}

.title-caption h1
{
    font-size: 60px;
    width: 350px;
    height: 110px;
    line-height: 125px;
    top: 200px;
}

.title-caption h3
{
    top: 175px;
}

.img
{
    left: 1200px;
    top: 275px;
    z-index: 1;
}

#invisible
{
    position: relative;
    top: -270px;
}

#start
{
    width: 1366px;
    height: 696px;
    top: -220px;
}

#start .container .row #n1, #start .container .row #n2  , #start .container .row #n3
{
    top: 75px;
}

#start .container .row #t1 h3, #start .container .row #t2 h3, #start .container .row #t3 h3
{
    top: 55px;
} 

.agents
{
    height: 0px;
}

.agents #back2
{
    top: -285px;
}

.agents #back .container
{
    top: 970px;
    width: 500px;
    left: -350px;
}

.agents .tb h4
{
    left: 190px;
    top: 905px;
    z-index: 1;
}

.agents #back2 h1
{
    left: 780px;
    top: -30px;
}

.agents #back2 h3
{
    left: 815px;
    top: -30px;
}

.agents #back2 h5
{
    width: 380px;
    left: 815px;
    margin-top: 40px;
    top: -30px;
}

.agents .btn2
{
    left: 860px;
    top: 20px;
    width: 250px;
    height: 60px;
}

.agents #reyna
{
    top: -630px;
}

.agents #raze
{
    top: -560px;
}

.img3
{
    left: 70px;
    top: 675px;
    z-index: 1;
    transition: 0.3s;
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255)) invert(0.9);
}

.img4
{
    display: flex;
    position: relative;
    width: 75px;
    height: 75px;
    left: 1200px;
    top: -100px;
    z-index: 1;
    transition: 0.3s;
    filter: drop-shadow(1px 1px 1px rgb(17, 17, 17)) invert(0.9);
}

.img4:hover
{
    transform: translateY(-5px);
    filter: invert(0.4);
}

#gamers
{
    display: flex;
    position: relative;
    background-image: url(../assets/backrank.jpg);
    background-position-x: center;
    width: 1366px;
    height: 696px;
    top: 375px;
}

#gamers .row #p1
{
    display: flex;
    position: relative;
    top: 100px;
    height: 535px;
    width: 350px;
    left: 260px;
    filter: drop-shadow(10px 10px 10px rgb(17, 17, 17));
    transition: all 0.5s;
}

#gamers .row #p1:hover
{
    transform: translateY(-10px);
} 

#gamers .row #p2
{
    display: none;
}

#gamers .row #p3
{
    display: none;
}

#gamers .row #p1 img, #gamers .row #p2 img
{
    -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-50deg) saturate(500%) contrast(1.2);
}

#gamers #accordionPanels
{
    position: relative;
    left: -75px;
    top: 102px;
    width: 250px;
    height: 100px;
}

}
